/* OutrasCategorias.css */
.container {
    text-align: center;
    margin: 2rem 0;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
  }

  .grid {
    max-width: 90%;
    margin: 0 auto;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex {
    display: flex;
  }

  .card {
    text-decoration: none;
    color: inherit;
    display: flex!important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 150px; */
    margin: 0px 10px;
    text-align: center;

    outline-offset: 5px !important;
    outline-width: 0px !important;
    outline-color: red !important;
  }

  @media screen and (max-width: 767px) {
    .card {
      margin: 0;
    }

  }

  .image {
    width: 90%!important;
    height: auto;
  }

  .caption {
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  .prevArrow, .nextArrow {
    position: absolute;
    top: 50%;
  }

  .nextArrow {
    right: -30px;
  }

  .prevArrow {
    left: -30px;
  }

  @media screen and (max-width: 767px) {
    .prevArrow {
      left: -10px;
    }


    .nextArrow {
      right: -10px;
    }

  }
