.drawerContent--menu-mobile .closeIconContainer {
    height: 46px;
    margin-top: 30px;
    display: flex;
    justify-content: end;
    padding: 0 25px;
    align-items: center;
}

.drawerContent--menu-mobile .closeIconContainer .closeIconButton {
    padding: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='28' viewBox='0 0 29 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.85742 0.357422H26.1426C27.5233 0.357422 28.6426 1.47671 28.6426 2.85742V25.1426C28.6426 26.5233 27.5233 27.6426 26.1426 27.6426H2.85742C1.47671 27.6426 0.357422 26.5233 0.357422 25.1426V2.85742C0.357422 1.47671 1.47671 0.357422 2.85742 0.357422Z' stroke='black' stroke-width='0.714286'/%3E%3Cpath d='M20.8668 7.85261C20.5116 7.50961 19.9388 7.50961 19.5836 7.85261L14.4999 12.761L9.15625 7.60513C8.801 7.26213 8.22825 7.26213 7.873 7.60513C7.51775 7.94813 7.51775 8.50113 7.873 8.84413L13.2166 14.0035L7.87663 19.1594C7.52138 19.5024 7.52138 20.0554 7.87663 20.3984C8.05426 20.5699 8.28626 20.6539 8.51826 20.6539C8.75026 20.6539 8.98225 20.5699 9.15988 20.3984L14.5035 15.239L19.8472 20.3984C20.0248 20.5699 20.2568 20.6539 20.4888 20.6539C20.7208 20.6539 20.9528 20.5699 21.1304 20.3984C21.4857 20.0554 21.4857 19.5024 21.1304 19.1594L15.7831 14L20.8705 9.08811C21.2221 8.74861 21.2221 8.19561 20.8668 7.85261Z' fill='black'/%3E%3C/svg%3E%0A");
    width: 26px;
    height: 26px;
    background-size: 100% 100%;
}

.drawerContent--menu-mobile .closeIconContainer .closeIconButton .closeIcon {
    display: none !important;
}
