.logoLink--e-header-logo {
    display: flex;
    align-items: center;
}

.logoContainer--e-header-logo {
    padding: 0;
    margin: 0;
    max-width: 110px;
    max-height: 66px;
}
@media screen and (max-width: 900) {
    .searchBarContainer {
        display: none;
    }
}

.searchBarContainer {
  padding: 0;
}

.searchBarContainer .searchBarInnerContainer :global(.vtex-input-prefix__group) {
    height: 45px;
    border: none;
    border-radius: 10px;
    width: 100%;
}

.searchBarContainer .searchBarInnerContainer :global(.vtex-styleguide-9-x-input) {
    padding: 12px 15px;
    background: #fff;
    border: none;
    color: #242424;
    font-size: 14px;
    font-weight: 600;
}

.searchBarContainer .searchBarInnerContainer :global(.vtex-styleguide-9-x-input)::placeholder {
    color: #242424;
}

.searchBarContainer .searchBarInnerContainer :global(.vtex-input__suffix) {
    padding: 0;
    background: transparent;
    position: absolute;
    right: 12px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBarContainer .searchBarInnerContainer .searchBarIcon--clear {
  display: none;
}

.searchBarContainer .searchBarInnerContainer .externalSearchButtonWrapper {
    margin: 0;
    background: transparent;
    padding: 0;
    border: none;
}

.searchBarContainer .searchBarInnerContainer .searchBarIcon--external-search {
    padding: 0;
    background: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9.94444' cy='9.94444' r='8.94444' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.333 16.3333L23.9997 23.9999' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
    margin: 0;
    border: 0;
}

.searchBarContainer .searchBarInnerContainer .searchBarIcon--external-search .searchIcon {
    display: none !important;
}

.logoContainer--header-logo-mobile {
    padding: 0;
    max-width: 70px;
    display: flex;
}

@media (max-width: 1024px) {
    .searchBarContainer {
        padding: 0;
        max-width: 100%;
    }

    .searchBarContainer .searchBarInnerContainer :global(.vtex-input-prefix__group) {
        width: 100%;
        background: rgba(248, 249, 250, 1);
        height: 50px;
        margin-top: 19px;
        border-radius: 50px;
        padding: 10px 30px;
    }

    .searchBarContainer .searchBarInnerContainer :global(.vtex-styleguide-9-x-input) {
        padding: 0;
        color: rgba(108, 117, 125, 1);
    }

    .searchBarContainer .searchBarInnerContainer :global(.vtex-styleguide-9-x-input)::placeholder {
        color: rgba(108, 117, 125, 1);
    }

    .searchBarContainer .searchBarInnerContainer .searchBarIcon--external-search {
        display: none;
    }

    .searchBarContainer .searchBarInnerContainer :global(.vtex-input__suffix) {
        right: 20px;
    }

    .portalContainer :global(.vtex-search-1-x-biggy-autocomplete-wrapper) {
        width: 90vw;
    }
}
