.container--header--sticky :global(.vtex-store-components-3-x-container) {
  background: #E01F26;
  padding: 12px 0;
}

@media (max-width: 1024px) {
    .wrapper--e-header {
        background: #E01F26;
        height: 80px!important;
        padding: 26px 15px 20px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .container--e-header {
        width: 100%;
    }

    .wrapper--stuck.wrapper--e-header--stuck .container--e-header {
        background: #E01F26;
        /* height: 155px !important; */
        padding: 26px 15px 20px;
    }
}
