.productHighlightText--product-flags-text {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.68px;
  text-align: center;
  background: #86D4ED;
  padding: 7px 14px;
  border-radius: 2px;
}
