.container {
  padding: 0 30px;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  margin-top: 20px;
}

.listPrice {
  margin: 0;
}

.listPriceLabel {
  display: none;
}

.listPriceValue {
  padding: 0;
  color: #777777;
  font-size: 14px;
  font-weight: 400;
}

.savingPrice {
  display: none;
}

.sellingPrice {
  font-size: 24px;
  font-weight: 700;
  color: #242424;
  padding: 0;
}

.price_sellingPrice--productDesk-price::after {
  content: "no Pix";
  margin-left: 8px;
  font-size: 14px;
  color: #242424;
  font-weight: 400;
}

.installmentsPrice {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #242424;
}

.installmentsPrice .price_installment--productDesk-price {
  font-weight: 600;
}

.skuSelectorName {
  font-size: 0;
}

.skuSelectorName::before {
  content: "Tamanho:";
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.skuSelectorInternalBox,
.diagonalCross {
  border-radius: 5px;
  width: 36px;
  height: 36px;
  padding: 0;
  color: #DFE2E4;
}

.diagonalCross {
  background-image: linear-gradient(
    to top right,
    transparent 44%,
    #DFE2E4 48%,
    currentColor 48%,
    currentColor 52%,
    transparent 52%
  )
}

.skuSelectorItemTextValue {
  line-height: initial;
  padding: 0;
  color: #565A60;
  font-size: 12px;
  font-weight: 400;
}

.skuSelectorTextContainer {
  margin-bottom: 10px;
}

.skuSelectorOptionsList {
  margin: 0;
  gap: 5px;
}

.skuSelectorItem {
  margin: 0;
}

.skuSelectorInternalBox:hover {
  border-color: #E01F26;
  color: #E01F26;
}

.skuSelectorInternalBox:hover .skuSelectorItemTextValue {
  color: #E01F26;
}

.skuSelectorItem--selected .skuSelectorInternalBox,
.skuSelectorItem--selected .skuSelectorItemTextValue {
  border-color: #E01F26;
  color: #E01F26;
}

.skuSelectorItem--selected .frameAround {
  display: none;
}

.shippingContainer :global(.vtex-input__label) {
  font-size: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.shippingContainer :global(.vtex-input__label)::after {
  content: "Calcule seu frete:";
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.57px;
}

.shippingContainer :global(.vtex-input-prefix__group) {
  border: 1px solid #CED4DA;
  width: 78%;
}

.shippingContainer :global(.vtex-button) {
  position: absolute;
  top: 30px;
  height: 38px;
  width: 120px;
  right: 22%;
  border: 0;
  padding: 0;
}

.shippingContainer :global(.vtex-button__label) {
  font-size: 0;
  background: #E01F26;
  border-radius: 0 4px 4px 0;
}

.shippingContainer :global(.vtex-button__label)::before {
  content: "Calcular";
  font-size: 14px;
  font-weight: 700;
  line-height: 14.68px;
  color: #fff;
  text-transform: capitalize;
}

:global(.vtex-address-form__postalCode) {
  padding: 0;
}

:global(.vtex-address-form__postalCode-forgottenURL) {
  color: #0D6EFD;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  position: absolute;
  top: 30px;
  right: 0;
  text-decoration: underline;
}

:global(.vtex__icon-external-link) {
  display: none;
}

.productDescriptionContainer {
  background: #fff;
}

.productDescriptionTitle {
  display: none;
}

.productDescriptionText {
  color: #242424;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 20px;
}

.price_sellingPriceLabel--productDesk-price,
.sellingPriceLabel {
  display: none
}

.productBrand {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.35px;
}

.shippingTableRow {
  background: #F8F9FA;
  padding: 10px;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
  color: #152536;
}

.shippingTableCell {
  color: #152536;
}

.bannersCustom-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.bannersCustom-image {
  height: auto;
  width: 100%;
}

.videoProduct {
  width: 100%;
}

.videoProduct,
.imageProduct {
  max-width: 100%;
}

.benefits-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0;
  gap: 20px;
}

.benefits-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px 10px;
  background-color: #E01F26;
  width: 100%;
}

.benefits-item-text {
  align-items: center;
  display: flex;
  gap: 5px;
  text-decoration: none;
  flex-direction: column;
}

.benefits-item-text .benefits-item-paragraph {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  white-space: nowrap;
  font-weight: 700;
  margin: 10px 0 5px;
}

.benefits-item-text .benefits-item-paragraph:last-child {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}

.shareContainer {
  margin-top: 20px;
}

.imageElement--image-tech-seo {
  width: 100%;
}

.bannersCustom-slider {
  padding: 0 15px;
}

.bannersCustom-item-slider {
  padding: 0 10px;
}

.productImagesContainer--list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.skuSelectorSubcontainer {
  margin: 20px 0;
}

.seeMoreButton :global(.vtex-button__label) {
  color: #242424;
  text-transform: initial;
}

.seeMoreButton :global(.vtex-button):hover {
  background: #fff;
}

@media (min-width: 1600px) and  (max-width: 2100px) {
  .imageElementLink--e-banner-principal{
    max-width: 1900px;
    width: 100%;
  }

  .container {
    max-width: 1920px !important;
    width: 100%;
  }

  :global(.vtex-flex-layout-0-x-flexRow--banners-grid)  .container {
    max-width: 1820px !important;
    width: 100%;
  }

}


@media (max-width: 767px) {
  .priceContainer {
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
  }

  .price_sellingPriceContainer--productMobile-price::after {
    content: "no Pix";
    margin-left: 8px;
    font-size: 14px;
    color: #242424;
    font-weight: 400;
  }

  .shareContainer {
    margin-top: 0px;
  }

  .container {
    padding: 0;
  }

  .skuSelectorOptionsList {
    margin: 0;
  }

  .skuSelectorSubcontainer {
    margin-bottom: 10px;
  }

  .bannersCustom-list {
    flex-direction: column;
  }

  .benefits-item {
    padding: 15px 5px;
  }

  .benefits-item,
  .benefits-item-text {
    width: 230px;
  }

  .benefits-list {
    overflow-x: auto;
    padding-bottom: 10px;
  }

  .bannersCustom-slider {
    padding: 0;
  }

  .swiperBullet--active {
    color: #000;
  }

  .shippingContainer :global(.vtex-input-prefix__group) {
    width: 40%;
  }

  .shippingContainer :global(.vtex-button) {
    right: 30%;
    width: 115px;
  }
}

:global(.vtex-store-components-3-x-productImageTag) {
  object-fit: cover!important;
  aspect-ratio: 1 / 1;
  position: relative;
}

/* @media screen and (min-width: 900px) {
  :global(.vtex-store-components-3-x-productImageTag) {
    top: -160px;
  }
} */

:global(.vtex-store-components-3-x-thumbImg) {
  width: auto!important;
  height: auto!important;
}

.imageElement--image-sports-seo {
  display: block;
  margin: auto;
}

.textStores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
