.container {
  display: block;
}

.heading--shelfTitle {
  color: #000;
  font-weight: 700;
  font-size: 33px;
}

.paragraph--description-header-seo {
  text-align: center;
}

.container--shelfTitleCenter {
  display: flex;
  justify-content: center;
}

.paragraph--title-layout {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.heading--shelfTitleCenter {
  color: #212529;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  margin: 0 0 20px;
  text-align: center;
}

.paragraph--shelfSubtitleCenter {
  color: #212529;
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.paragraph--shelfTitleCenter {
  color: #212529;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  padding-top: 15px;
  margin-top: 15px;
  position: relative;
}

.paragraph--shelfTitleCenter::before {
  content: "";
  width: 28px;
  height: 1px;
  background: #86D4ED;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.heading--seoTitle {
  color: #212529;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.paragraph--seoText {
  color: #212529;
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.paragraph--footer__legal-information {
  color: #000;
  margin: 0;
  font-size: 10px;
}

.link--footer__legal-information {
  color: #000;
  text-decoration: none;
}

.wrapper--institucional-content {
  text-align: justify;
  margin-top: 10px;
}

.wrapper--institucional-content .headingLevel1--institucional-content {
  font-size: 30px;
}

.wrapper--institucional-content .headingLevel2--institucional-content {
  font-size: 24px;
  margin-top: 30px;
}

.wrapper--institucional-content .headingLevel3--institucional-content {
  color: #242424;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 5px;
}

.wrapper--institucional-content .paragraph--institucional-content {
  font-size: 16px;
  text-align: justify;
  color: #242424;
  margin: 0;
}

.paragraph--inst-title {
  color: #000;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
}

.container--inst-disc-button {
  color: #000;
  height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
  justify-content: center;
  height: 30px;
  justify-content: center;
}

.container--inst-disc-button .paragraph--inst-disc-button {
  margin: 0;
  text-align: center;
}

.container--text-medidas .paragraph {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: #E01F26;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
}

.container--text-medidas .paragraph::before {
  content: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 10.7039L14 6.2137C13.9226 6.06608 13.8428 5.95248 13.6675 5.91122L0.387735 5.90478C0.196329 5.95274 0.0574226 6.0851 0.0347271 6.28042C0.116212 7.6806 -0.0735532 9.19841 0.033634 10.5847C0.0483997 10.7757 0.11129 10.9147 0.292032 10.9997L13.7427 10.9997C13.886 10.9397 13.9344 10.8317 14 10.7036L14 10.7039ZM0.907814 10.1694L0.907814 6.74822L2.21703 6.74822L2.21703 8.88654L3.08984 8.88654L3.08984 6.74822L4.39906 6.74822L4.39906 8.03105L5.27188 8.03105L5.27188 6.74822L6.58109 6.74822L6.58109 8.88654L7.45391 8.88654L7.45391 6.74822L8.76313 6.74822L8.76313 8.03105L9.63594 8.03105L9.63594 6.74822L10.9452 6.74822L10.9452 8.88654L11.818 8.88654L11.818 6.74822L13.1272 6.74822L13.1272 10.1694L0.907814 10.1694Z' fill='%23E01F26'/%3E%3Cpath d='M11.0485 0.62416L12.4649 2.03104L1.50008 2.03104L2.91648 0.62416L2.30863 0.0282913L0.0946094 2.19073L3.02726e-08 2.35202L2.7723e-08 2.56582L0.135898 2.76677L2.3048 4.89063L2.91813 4.28967L1.5277 2.88653L12.4379 2.88653L11.0488 4.28618L11.6605 4.89063L13.8433 2.75364C14.0317 2.51465 14.0011 2.33541 13.8157 2.11115L11.6741 -0.000109056L11.6468 -0.000109057L11.0488 0.624428L11.0485 0.62416Z' fill='%23E01F26'/%3E%3C/svg%3E%0A");
  margin-right: 5px;
}

.heading--shelfTitleSports {
  font-size: 28px;
  width: 100%;
  color: #00689E;
  text-align: left;
}

.paragraph--shelfTitleSports {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #262626;
}

.heading.headingLevel2--sports-footer-title {
  font-weight: 700;
  font-size: 24px;
  color: #174195
}

.paragraph--sports-footer-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #262626;
}

.paragraph--title-banners {
  margin: 0;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}

.paragraph--subtitle-banners {
  margin: 0;
  color: #C7C7C7;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
}


.headingLevel2--tech-shelf-text-title {
  font-weight: 700;
  font-size: 46px;
  color: #00689E;
  margin: 0;
}

.heading--tech-banner-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  text-transform: uppercase;
  color: #000;
  margin: 0 0 24px;
}

.paragraph--tech-banner-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
  margin: 0;
}

.heading--shelfTitleInsta {
  align-items: center;
  display: flex;
  margin: 0 0 24px;
}

.heading--shelfTitleInsta::before {
  content: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 14.75C1 8.26868 1 5.02658 3.01329 3.01329C5.02658 1 8.26724 1 14.75 1C21.2313 1 24.4734 1 26.4867 3.01329C28.5 5.02658 28.5 8.26724 28.5 14.75C28.5 21.2313 28.5 24.4734 26.4867 26.4867C24.4734 28.5 21.2328 28.5 14.75 28.5C8.26868 28.5 5.02658 28.5 3.01329 26.4867C1 24.4734 1 21.2328 1 14.75Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22.7221 6.78943H22.7076M21.2631 14.75C21.2631 16.4774 20.5769 18.134 19.3555 19.3555C18.134 20.5769 16.4774 21.2631 14.75 21.2631C13.0226 21.2631 11.3659 20.5769 10.1445 19.3555C8.92302 18.134 8.23682 16.4774 8.23682 14.75C8.23682 13.0226 8.92302 11.3659 10.1445 10.1445C11.3659 8.923 13.0226 8.2368 14.75 8.2368C16.4774 8.2368 18.134 8.923 19.3555 10.1445C20.5769 11.3659 21.2631 13.0226 21.2631 14.75Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  margin-right: 10px;
  height: 30px;
}

.paragraph--order-prefix {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #242424;
  text-align: right;
}

.headingLevel1--institucional-title {
  color: #242424;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

.textStores {
  color: #242424;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  font-weight: 700;
}

.wrapper--shelfContainer {
  padding: 0 30px;
}

@media (max-width: 767px) {
  .heading--shelfTitle {
    font-size: 24px;
    text-align: center;
    width: 100%;
  }

  .heading--shelfTitleCenter,
  .heading--seoTitle {
    font-size: 28px;
  }

  .headingLevel1--institucional-title {
    margin: 20px 0;
  }

  .container--text-medidas .paragraph {
    margin-bottom: 15px;
  }

  .wrapper--not-found {
    font-size: 24px;
  }

  .wrapper--institucional-content .headingLevel1--institucional-content {
    font-size: 16px;
  }

  .container--sports-footer-title {
    padding: 0 15px;
  }

  .heading.headingLevel2--sports-footer-title {
    font-size: 20px
  }

  .paragraph--sports-footer-title {
    font-size: 12px;
  }

  .heading--tech-banner-title {
    margin-top: 30px;
  }

  .headingLevel2--tech-shelf-text-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
