.minicartQuantityBadgeDefault {
  background: #BACE32;
  top: 8px;
  color: #000;
  font-size: 12px;
  font-weight: 700;
}

.drawerContent .closeIconContainer {
    position: inherit;
}

.drawerContent .closeIconContainer .closeIconButton .closeIcon {
    display: none;
}

.container--content-itens-item--prices {
    line-height: 12px !important ;
    }

.drawerContent .closeIconContainer .closeIconButton {
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='28' viewBox='0 0 29 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.85742 0.357422H26.1426C27.5233 0.357422 28.6426 1.47671 28.6426 2.85742V25.1426C28.6426 26.5233 27.5233 27.6426 26.1426 27.6426H2.85742C1.47671 27.6426 0.357422 26.5233 0.357422 25.1426V2.85742C0.357422 1.47671 1.47671 0.357422 2.85742 0.357422Z' stroke='black' stroke-width='0.714286'/%3E%3Cpath d='M20.8672 7.85264C20.5119 7.50964 19.9392 7.50964 19.5839 7.85264L14.5003 12.761L9.15662 7.60515C8.80137 7.26215 8.22862 7.26215 7.87337 7.60515C7.51812 7.94815 7.51812 8.50115 7.87337 8.84415L13.217 14.0035L7.877 19.1594C7.52175 19.5024 7.52175 20.0554 7.877 20.3984C8.05462 20.5699 8.28662 20.6539 8.51862 20.6539C8.75062 20.6539 8.98262 20.5699 9.16025 20.3984L14.5039 15.239L19.8475 20.3984C20.0251 20.5699 20.2571 20.6539 20.4891 20.6539C20.7211 20.6539 20.9531 20.5699 21.1308 20.3984C21.486 20.0554 21.486 19.5024 21.1308 19.1594L15.7835 14L20.8708 9.08814C21.2224 8.74864 21.2224 8.19564 20.8672 7.85264Z' fill='black'/%3E%3C/svg%3E%0A");
    width: 26px;
    height: 26px;
    display: block;
    background-size: 100% 100%;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 35px;
}

.drawerContent .minicartTitle {
    background: #fff;
    margin: 30px 0 0;
    padding: 0 15px 10px;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

/* New Minicart */

.drawerContent,
.drawerContent .childrenContainer,
.drawerContent .minicartSideBarContentWrapper,
.drawerContent .minicartContentContainer {
    height: 100% !important;
}

.container--content-itens {
    list-style: none;
    margin: 0;
    padding: 15px 10px 15px 15px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 410px);
    overflow-y: auto;
}

.container--content-itens-item {
    display: flex;
    gap: 10px;
}

.container--content-itens-item-link {
    width: 87px;
    height: 85px;
}

.container--content-itens-item--info {
    width: calc(100% - 87px);
}

.container--content-itens-item__name {
    color: #212529;
    font-size: 12px;
    font-weight: 700;
    line-height: 12.23px;
    margin: 0;
}

.container--content-itens-item__gender {
    display: block;
    color: #212529;
    font-size: 10px;
    font-weight: 400;
    margin: 0 0 6px;
    line-height: 12.19px;
}

.container--content-itens-item__color {
    display: block;
    color: #212529;
    font-size: 10px;
    font-weight: 400;
    margin: 0 0 6px;
    line-height: 12.19px;
}

.container--content-itens-item__size {
    display: block;
    color: #212529;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.container--content-itens-item--bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.container--content-itens-item--bottom--quantity {
    display: flex;
    min-width: 105px;
    justify-content: center;
    height: 36px;
    align-items: center;
}

.container--content-itens-item--bottom--quantity-minus {
    background: transparent;
    border: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    height: 36px;
    display: flex;
    align-items: center;
    border: 1px solid #DEE2E6;
}

.container--content-itens-item--bottom--quantity-value {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
    text-align: center;
    width: 28px;
    color: #242424;
    font-size: 16px;
    font-weight: 700;
    height: 36px;
}

.container--content-itens-item--bottom--quantity-plus {
    background: transparent;
    border: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    height: 36px;
    display: flex;
    align-items: center;
    border: 1px solid #DEE2E6;
}

.container--content-itens-item--top--remove {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 0 0 10px;
}

.container--content-itens-item--top--remove-button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.container--content-itens-item--prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container--content-itens-item--prices--total {
    font-size: 14px;
    margin: 0;
    font-weight: 700;
    color: #242424;
}

.drawerStyles {
    height: auto;
}

.container--footer {
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(248, 249, 250, 1);
    padding: 5px 15px;
    height: 330px;
}

.container--footer-itens {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container--footer-itens-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 0.5px solid rgba(222, 226, 230, 1);
    align-items: center;
}

.container--footer-itens-item--title {
    margin: 0;
    font-size: 14px;
    color: #383838;
    line-height: 14.63px;
    font-weight: 400;
}

.container--footer-itens-item--text {
    margin: 0;
    font-size: 14px;
    color: #383838;
    line-height: 14.63px;
    font-weight: 700;
}

.container--footer__button {
    background-color: #E01F26;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-weight: 700;
    font-size: 19px;
    line-height: 14.68px;
    width: 100%;
    margin: 0;
}

.container--footer__button__continue {
  background-color: #fff;
  border: 1px solid #E01F26;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: #E01F26;
  text-decoration: none;
  font-weight: 700;
  font-size: 19px;
  line-height: 14.68px;
  width: 100%;
  margin: 10px 0 0;
}

.container--footer--scroll {
    background: transparent;
    border: none;
    width: 44px;
    height: 25px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}

.container--footer--active .container--footer--scroll {
    transform: rotate(180deg);
}

.container--footer-itens-item--code {
    display: flex;
    align-items: center;
    position: relative;
}

.container--footer-itens-item--code .container--footer-itens-item--text {
    padding-right: 25px;
}

.container--footer-itens-item--code-input {
    box-shadow: inherit;
    outline: 0;
    background: transparent;
    border: 0.5px solid rgba(222, 226, 230, 1);
    border-top-left-radius: 5px;
    border-right: 0;
    height: 35px;
    border-bottom-left-radius: 5px;
    width: 120px;
    color: rgba(33, 37, 41, 1);
    padding: 0 5px;
    font-weight: 400;
    font-size: 14px;
}

.container--footer-itens-item--code-button {
    height: 35px;
    width: 75px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    background: #E01F26;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    cursor: pointer;
}

.container--footer--active {
    height: 280px;
}

.container--content--active .container--content-itens {
    height: calc(100vh - 410px);
}

.container--content {
    padding-right: 5px;
}

.container--footer-itens-item--code--remove {
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.container--footer-itens-item--code--error {
    margin: 0;
    font-size: 12px;
    color: red;
    line-height: 14.63px;
    font-weight: 700;
}

@media (max-width: 767px) {
  .minicartQuantityBadgeDefault {
    right: -10px;
  }
}
