.menuContainerHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuContainerHeader-content-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.menuContainerHeader-content-nav-item {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.menuContainerHeader-content-nav-item:last-child .menuContainerHeader-content-nav-item--title,
.menuContainerHeader-content-nav-item:last-child:hover .menuContainerHeader-content-nav-item--title {
  color: #E01F26;
}

.menuContainerHeader-content-nav-item--title {
    color: #242424;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menuContainerHeader-content-nav-item--dropdown {
    position: absolute;
    background: white;
    width: 100%;
    left: 0;
    right: 0;
    top: 131px;
}

.menuContainerHeader-content-nav-item--dropdown-items {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background: #F8F8F8;
}

.menuContainerHeader-content-nav-item--dropdown-items-category {
    display: flex;
    gap: 40px;
}

.menuContainerHeader-content-nav-item--dropdown-items-category-items {
    list-style: none;
    padding: 0;
}

.menuContainerHeader-content-nav-item--dropdown-items-category-items-item {
    margin-bottom: 15px;
}

.menuContainerHeader-content-nav-item--dropdown-items-category-items-item--title {
    color: #65656F;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
}

.menuContainerHeader-content-nav-item--dropdown-items-category--see-all {
    padding-top: 15px;
    border-top: 1px solid #E6E6E6;
    font-weight: 700;
    font-size: 14px;
    color: #65656F;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menuContainerHeader-content-nav-item--dropdown-items-number {
    margin: 0 20px;
}

.menuContainerHeader-content-nav-item--dropdown-items-number__title {
    color: #000;
    font-size: 14px;
    line-height: 14.68px;
    margin: 0 0 16px;
}

.menuContainerHeader-content-nav-item--dropdown-items-number-items {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 242px;
}

.menuContainerHeader-content-nav-item--dropdown-items-number-items-item {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuContainerHeader-content-nav-item--dropdown-items-number-items-item--title {
    color: #65656F;
    font-size: 12px;
    line-height: 14.63px;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid #DFE2E4;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuContainerHeader-content-nav-item--dropdown-items-banners {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.menuContainerHeader-content-nav-item--dropdown {
    display: none !important;
}

.menuContainerHeader-content-nav-item:hover .menuContainerHeader-content-nav-item--dropdown {
    display: block !important;
}

.menuContainerHeader-content-nav-item:hover .menuContainerHeader-content-nav-item--title {
  color: #242424;
}

@media (max-width: 1024px) {
    .menuContainerNav--drawer {
        width: 100%;
    }

    .menuContainer--drawer {
        padding: 0;
    }

    .menuContainer--drawer :global(.vtex-login-2-x-container) {
        width: 100%;
        display: block;
    }

    .menuContainer--drawer :global(.vtex-login-2-x-container) :global(.vtex-login-2-x-buttonLink) {
        border-bottom: 1px solid rgba(206, 212, 218, 1);
        padding: 15px 10px 16px;
        width: calc(100% - 30px);
        margin: 0 15px;
    }

    .menuContainer :global(.vtex-login-2-x-container) :global(.vtex-button) {
        margin: 0;
        border: 0;
    }

    .menuContainer :global(.vtex-login-2-x-container) :global(.vtex-button) :global(.vtex-button__label) {
        display: flex;
        align-items: center;
        padding: 0 !important;
    }

    .menuContainer :global(.vtex-login-2-x-container) :global(.vtex-button) :global(.vtex-button__label)::before {
        content: "";
        padding: 0 !important;
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='24' viewBox='0 0 23 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3212 12.364C14.2946 12.364 16.7051 9.8201 16.7051 6.68201C16.7051 3.54392 14.2946 1 11.3212 1C8.34781 1 5.93738 3.54392 5.93738 6.68201C5.93738 9.8201 8.34781 12.364 11.3212 12.364Z' stroke='black' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21.6425 22.4168H1C1.20682 19.6777 2.38384 17.1215 4.29656 15.2573C6.20928 13.3931 8.71727 12.3579 11.3208 12.3579C13.9244 12.3579 16.4324 13.3931 18.3451 15.2573C20.2578 17.1215 21.4348 19.6777 21.6417 22.4168H21.6425Z' stroke='black' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        width: 36px;
        height: 36px;
        display: block;
        background-size: 100% 100%;
    }

    .menuContainer :global(.vtex-login-2-x-container) :global(.vtex-button) :global(.vtex-button__label)::after {
        content: "Entrar";
        color: #242424;
        font-weight: 400;
        font-size: 16px;
        text-transform: capitalize;
        padding-left: 10px;
    }

    .menuContainer--drawer--logged :global(.vtex-login-2-x-container) :global(.vtex-button) :global(.vtex-button__label)::after {
        content: "Meus pedidos";
    }

    .menuContainer :global(.vtex-login-2-x-container) :global(.vtex-button) :global(.vtex-login-2-x-profileIcon) {
        display: none !important;
    }

    .menuContainerHeader-content-nav-item--title {
        font-size: 16px;
        color: #242424;
        font-weight: 400;
        position: relative;
    }

    .menuContainerHeader-content {
        width: 100%;
    }

    .menuContainerHeader-content-nav {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 100%;
    }

    .menuContainerHeader-content-nav-item {
        min-height: 72px;
        border-bottom: 1px solid rgba(206, 212, 218, 1);
        padding: 0px 10px 0;
        margin: 0 15px;
        width: calc(100% - 30px);
        height: auto;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .menuContainerHeader-content-nav-item:not(:last-child) {
        padding: 0 15px;
    }

    .menuContainerHeader-content-nav-item--container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .menuContainerHeader-content-nav-item--dropdown-mobile {
        width: calc(100% + 50px);
        background: rgba(233, 236, 239, 1);
        padding: 0 25px;
    }

    .menuContainerHeader-content-nav-item--dropdown-mobile-items {
        width: 100%;
    }

    .menuContainerHeader-content-nav-item--dropdown-mobile-items-category {
        padding: 0;
        list-style: none;
        width: 100%;
        padding: 5px 0;
    }

    .menuContainerHeader-content-nav-item--dropdown-mobile-items-category-items-item {
        padding: 10px 0;
    }

    .menuContainerHeader-content-nav-item--dropdown-mobile-items-category-items-item--title {
        color: #242424;
        font-size: 14px;
        text-decoration: none;
    }

    .menuContainerHeader-content-nav-item--active .menuContainerHeader-content-nav-item--title {
        padding: 0;
        margin: 0;
        height: 72px;
    }

    .menuContainerHeader-content-nav-item--active {
        padding-bottom: 25px;
        position: relative;
        border: 0;
    }

    .menuContainerHeader-content-nav-item--active::after {
        content: "";
        width: 100%;
        bottom: 0;
        position: absolute;
        background-color: rgba(206, 212, 218, 1);
        height: 1px;
        left: 0;
    }
}
