.vtex-hide-react {
  margin: 0 auto;
  padding: 0 .25rem;
  display: flex;
  border-top: 1px solid #d3d3d5;
}
.vtex-hide-react .e-newsletter-top {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1025px) {
  .vtex-hide-react {
    padding: 25px 10px;
  }
  .vtex-hide-react .e-newsletter-top {
      flex-direction: column;
      gap: 5px;
      margin-bottom: 20px;
  }
}
.vtex-hide-react h2 {
  font-weight: 700;
  font-size: 33px;
  margin: 0;
  color: #242424;
}
.vtex-hide-react h3 {
  font-weight: 400;
  font-size: 14px;
  color: #242424;
  margin: 10px 0 0;
}
@media only screen and (max-width: 1025px) {
  .vtex-hide-react .e-newsletter-center h2 {
      margin: 0 0 10px;
      width: 100%;
      text-align: center;
      font-size: 24px;
  }
  .vtex-hide-react .e-newsletter-center h2 {
      margin: 0;
  }
}
.vtex-hide-react .e-form-newsletter {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 55%;
}
.vtex-hide-react .e-newsletter-center {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 30px;
  justify-content: space-between;
}
@media only screen and (max-width: 1025px) {
  .vtex-hide-react .e-form-newsletter {
    flex-direction: column;
    width: 100%;
  }
  .vtex-hide-react .e-newsletter-center {
    padding: 0.75rem 0;
    flex-direction: column;
  }
}
.vtex-hide-react .e-form-newsletter input {
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  color: #242424;
  background: #F8F8F8;
  border: 1px solid #F8F8F8;
  border-radius: 4px;
  padding: 10px 0 10px 10px;
  width: 40%;
}
.vtex-hide-react .e-form-newsletter option {
  font-weight: 400;
  font-size: 12px;
  color: #495057;
}
@media only screen and (max-width: 1025px) {
  .vtex-hide-react .e-form-newsletter input {
      height: 50px;
  }

  .vtex-hide-react .e-form-newsletter input {
    width: 100%;
  }
}
.vtex-hide-react .e-form-newsletter .e-btn {
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background: #E01F26;
  font-weight: 700;
  font-size: 19px;
  text-align: center;
}
@media only screen and (max-width: 1025px) {
  .vtex-hide-react .e-form-newsletter .e-btn {
      height: 50px;
      width: 30%;
  }
}
