.caretIcon--topbar-prev {
  left: 0;
  position: absolute;
  top: 2px;
  z-index: 1;
  cursor: pointer;
  display: none !important;
}

.caretIcon--topbar-next {
  right: 0;
  position: absolute;
  top: 2px;
  z-index: 1;
  cursor: pointer;
  display: none !important;
}

.caretIcon--topbar-prev {
  top: 9px;
}

.caretIcon--topbar-next {
  top: 9px;
}

:global(.vtex-flex-layout-0-x-flexRow--topbar) .caretIcon--topbar-prev,
:global(.vtex-flex-layout-0-x-flexRow--topbar) .caretIcon--topbar-next {
  top: 2px;
}
