.vtex-stack-layout-0-x-stackItem:nth-child(2) {
  right: 0;
  left: initial;
}

.vtex-product-highlights-2-x-productHighlightText--product-custom-flag {
  background: #034EA1 !important;
  color: #fff !important;
}
