
@font-face {
  font-display: swap;
  font-family: 'Graphie';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/Graphie_Light.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Graphie';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Graphie.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Graphie';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Graphie_Bold.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Graphie';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/Graphie_ExtraBold.otf') format('opentype');
}
