.biggy-autocomplete-wrapper {
  width: 53vw;
}

@media (max-width: 1100px) {
    .itemListItem {
        text-align: start;
        min-height: 30px;
    }

    .itemListTitle {
        text-align: start;
    }

    .biggy-autocomplete .tileList .productNameContainer {
        text-align: start;
    }

    .biggy-autocomplete .tileList .currencyContainer {
        margin-top: 2px;
        display: block;
        text-align: start;
    }

    .biggy-autocomplete .tileList .productNameContainer .productBrand {
        font-size: 12px;
        font-weight: 700;
    }

    .biggy-autocomplete .tileListTitle {
        text-align: start;
    }
}
