.flexRow--filter-section {
  max-width: 96rem;
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;
}

.flexRowContent--filter-title .stretchChildrenWidth {
  width: auto !important;
}

.flexRow--result {
  margin-top: 50px;
}

.flexRowContent--filter-title {
  align-items: flex-end;
}

.flexRowContent--container-product {
  display: flex;
  align-items: center;
}
